body {
  background-image: url("assets/image/fortune-cookies-paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: hsl(29, 27%, 78%, 0.7);
  padding: 15px;
  font-size: 40px;
  border: 2px solid #000;
  font-family: 'Raleway', sans-serif;
  position: fixed;
}
.par {
  display: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-top: 700px;
  padding: 20px;
  text-align: center;
  width: 45%;
}

@media (max-width: 500px) {
  .btn  {
    font-size: 25px;
    margin: 15px;
  
  }

  .par  {
    font-size: 23px;
    margin-top: 600px;
    width: 80%; 
  }
}


@media (max-width: 1000px) {
  .par  {
    margin-top: 400px;
    width: 60%; 
  }
}
